.mvg {
    margin: 20px 0 0 0;
}

.centered {
    text-align: center;
}

.header {
    background-color: #A0CD58;
}

.content {
    background-color: #48A85D;
}
    
a {
    color: #FF5420;
}

.collapsible-body p {
    padding: 1rem;
}

.collapsible-header {
    padding: 0;
}

h4 {
    margin: 0;
    padding: 1.14rem;
}

.light {
    color: #ADF33D;
}