<html>
<head>
<style>       
    img.jeff {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
        
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
        
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
    }
    
    @media screen and (max-width: 1024px){
        img.bg {
            left: 50%;
            margin-left: -512px; }
    }
    
    #page-wrap { position: relative; width: 80%; margin: 50px auto; padding: 20px; background: white; -moz-box-shadow: 0 0 20px black; -webkit-box-shadow: 0 0 20px black; box-shadow: 0 0 20px black; }
    p { font: 15px/2 Georgia, Serif; margin: 0 0 30px 0; text-indent: 40px; }
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/survey.css') }}">
</head>
<body> 
<img class='jeff' src="{{ url_for('static', filename='img/' + i + '.jpg') }}" />
<div id="page-wrap">
    <h3>Survey Link: <a href="http://tinyurl.com/ialcs" target="blank">tinyurl.com/ialcs</a></h3>
</div>
<div id="page-wrap">
    <p><h3>Directions: </h3>Instruct students to open the Chrome browser on a Chromebook, and the above survey link will automatically open for students. If students are using a non-chromebook device, send students to the survey link that's posted above. Students enter the code for the teacher they are evaluating. See the tables below for the access codes for each class section. Students must evaluate each teacher listed for their respective class section. For example, students in 503 must evaluate Lozada, Ramos, and Porter. Once students complete their first survey, they will go on and complete their next survey.</p>
</div>
<div id="page-wrap">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
        <th><b>Fifth Grade</b></th>
    </tr>
    <tr>
      <th>Section</th>
      <th>Day and Time</th>
      <th>Teachers</th>
      <th>Survey Access Codes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>501</td>
      <td>Wednesday<br>11:30 - 12:30</td>
      <td>James<br>Andujar<br>Capellan</td>
      <td>6052386350<br>9793213966<br>4711832717</td>
    </tr>
    <tr>
      <td>502</td>
      <td>Wednesday<br>1:30 - 2:30</td>
      <td>James<br>Andujar<br>Porter</td>
      <td>9465174353<br>3957633887<br>3760591389</td>
    </tr>
    <tr>
      <td>503</td>
      <td>Thursday<br>8:30 - 9:30</td>
      <td>Lozada<br>Ramos<br>Porter</td>
      <td>6523369269<br>7233978462<br>5000869280</td>
    </tr>
    <tr>
      <td>504</td>
      <td>Friday<br>9:30 - 10:30</td>
      <td>Lozada<br>Ramos<br>Capellan</td>
      <td>5085535267<br>5008237528<br>4150403689</td>
    </tr>
  </tbody>
</table>
</div>

<div id="page-wrap">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
        <th><b>Sixth Grade</b></th>
    </tr>
    <tr>
      <th>Section</th>
      <th>Day and Time</th>
      <th>Teachers</th>
      <th>Survey Access Codes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>601</td>
      <td>Thursday<br>9:30 - 10:30</td>
      <td>Sem<br>Capellan</td>
      <td>2319118295<br>7041544044</td>
    </tr>
    <tr>
      <td>602</td>
      <td>Wednesday<br>1:30 - 2:30</td>
      <td>Sem<br>Porter</td>
      <td>4373087162<br>4380415107</td>
    </tr>
    <tr>
      <td>603</td>
      <td>Thursday<br>8:30 - 9:30</td>
      <td>Porter<br>Capellan</td>
      <td>4481933535<br>3444175152</td>
    </tr>
    <tr>
      <td>604</td>
      <td>Friday<br>9:30 - 10:30</td>
      <td>Josso-Martin<br>Brett Shablak</td>
      <td>3354634645<br>8862178524</td>
    </tr>
    <tr>
      <td>605</td>
      <td>Friday<br>9:30 - 10:30</td>
      <td>Josso-Martin<br>Brett Shablak</td>
      <td>5276137051<br>8862178524</td>
    </tr>
  </tbody>
</table> 
</div>

<div id="page-wrap">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
        <th><b>Seventh Grade</b></th>
    </tr>
    <tr>
      <th>Section</th>
      <th>Day and Time</th>
      <th>Teachers</th>
      <th>Survey Access Codes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>701</td>
      <td>Friday<br>11:30 - 12:30</td>
      <td>Bentivegna<br>Edwards</td>
      <td>7205054270<br>8735955448</td>
    </tr>
    <tr>
      <td>702</td>
      <td>Wednesday<br>9:30 - 10:30</td>
      <td>Bentivegna<br>Edwards</td>
      <td>8132523738<br>9131042169</td>
    </tr>
    <tr>
      <td>703</td>
      <td>Wednesday<br>1:30 - 2:30</td>
      <td>Hernandez<br>Monserrate/Niehoff</td>
      <td>4500142493<br>7017595662</td>
    </tr>
    <tr>
      <td>704</td>
      <td>Wednesday<br>10:30 - 11:30</td>
      <td>Lopez<br>Stampolis</td>
      <td>2396096725<br>7951997165</td>
    </tr>
    <tr>
      <td>705</td>
      <td>Wednesday<br>8:30 - 9:30</td>
      <td>Lopez<br>Stampolis</td>
      <td>8895591022<br>7879754867</td>
    </tr>
  </tbody>
</table> 
</div>

<div id="page-wrap">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
        <th><b>Eigth Grade</b></th>
    </tr>
    <tr>
      <th>Section</th>
      <th>Day and Time</th>
      <th>Teachers</th>
      <th>Survey Access Codes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>801</td>
      <td>Friday<br>9:30 - 10:30</td>
      <td>Olivencia<br>Carbuagh</td>
      <td>6777927488<br>1754904281</td>
    </tr>
    <tr>
      <td>802</td>
      <td>Thursday<br>8:30 - 9:30</td>
      <td>Olivencia<br>Carbaugh</td>
      <td>1895785727<br>6834756432</td>
    </tr>
    <tr>
      <td>803</td>
      <td>Thursday<br>9:30 - 10:30</td>
      <td>Stampolis<br>Brady</td>
      <td>3112544758<br>5600363694</td>
    </tr>
    <tr>
      <td>804</td>
      <td>Thursday<br>9:30 - 10:30</td>
      <td>Sanga<br>Monserrate/Niehoff</td>
      <td>9044898546<br>5477608628</td>
    </tr>
    <tr>
      <td>805</td>
      <td>Friday<br>8:30 - 9:30</td>
      <td>Sanga<br>Monserrate/Schechter</td>
      <td>7266200862<br>2434044646</td>
    </tr>
  </tbody>
</table> 
</div>

<div id="page-wrap">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
        <th><b>Backup Links</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://docs.google.com/a/ialcs.org/spreadsheets/d/1W181zP7zTnNqNHruHDQ1YfsTdKH0X3MgKTBTHfCjQ8Q/edit?usp=sharing" target="blank">All Staff Survey Codes</a></td>
  </tr>
  <tr>
      <td><a href="https://docs.google.com/a/ialcs.org/document/d/1JfXzDUKt_8ehQ1cfpaAEV_2rqT_-W9niydGA4Y3vIeE/edit?usp=sharing" target="blank">Middle School Survey Schedule</a></td>
    </tr>
  </tbody>
</table> 
</div>

</body> 

</html>